.breadcrumbs {
  margin-bottom: 15px;

  li {
    text-transform: none;

    color: #595959;

    font-size: 11px;

    &:not(:last-child)::after {
      margin: 0 5px;

      content: ">";
    }
  }

  a {
    text-decoration: underline;

    font-size: 11px;
  }
}
