.content {
  &-title {
    margin-bottom: 30px;
    padding: 10px 45px;

    color: #fff;
    border-radius: 4px;
    background: linear-gradient(to bottom, #32508d 0%, #1e3362 100%);

    font-size: 18px;
    font-weight: bold;
  }

  &-body {
    padding-bottom: 50px;
  }
}
