$footer-bg: #243b6d;

.footer {
  margin-top: 50px;
  padding: 50px 0;

  color: #fff;
  background: $footer-bg;

  font-size: 14px;

  .button,
  p {
    margin-bottom: 0;
  }

  @include breakpoint(small only) {
    .text-right {
      text-align: left;
      margin-bottom: 15px;
    }
  }
}
