$menu-item-border: #f5f3f3;

.menu {
  margin-bottom: 18px;

  &-list {
    @extend .clearfix;

    height: 140px;

    margin: 0 -7px;

    font-size: 0;
    text-align: center;
  }

  &-item {
    display: inline-block;
    position: relative;
    vertical-align: top;

    width: 12.5%;
    height: 100%;
    padding: 0 7px;

    list-style: none;
  }

  &-link {
    display: block;
    height: 100%;

    padding: 18px 0 10px;

    text-align: center;

    color: #000;
    border: 1px solid $menu-item-border;
    border-radius: 5px;
    box-shadow: 0 6px 4px 0 rgba(#000, .2);

    font-size: 12px;

    &:hover ,
    .menu-item--active & {
      background: linear-gradient(to bottom, #fdfdfd 0%, #f3f3f3 100%);
      box-shadow: none;
      color: #000;
      border-color: transparent;
    }
  }

  &-item-name {
    height: 55px;
  }

  img {
    display: block;

    margin: 0 auto 15px;
  }

  @include breakpoint(medium down) {
    &-list {
      height: auto;
    }

    &-item {
      width: 25%;
      margin-bottom: 10px;
      min-height: 140px;
    }

    &-link {
      padding: 18px 10px 10px;
    }
  }

  @include breakpoint(small only) {
    &-item {
      width: 50%;
    }
  }
}
