.nav {
  &-header {
    position: relative;

    background: linear-gradient(to right, #4b8dde 30%,#1a2d59 100%);

    &:before {
      position: absolute;
      top: 0;
      left: -38.5%;

      width: 50%;
      height: 100%;

      content: "";

      background: #fff;
    }
  }

  &-logo {
    position: relative;
    z-index: 1;

    margin: 17px 0 10px;

    img {
      position: relative;
      z-index: 1;
    }

    &:before {
      position: absolute;
      top: -17px;
      right: 59px;

      width: 100%;
      height: 90px;

      content: "";

      background: #fff;
    }

    &:after {
      position: absolute;
      top: -17px;
      right: -50px;

      width: 0;
      height: 0;

      content: "";

      border-right: 110px solid transparent;
      border-bottom: 90px solid #fff;
    }
  }

  &-about {
    margin-top: 35px;

    color: #fff;

    font-size: 13px;
  }

  @include breakpoint(medium down) {
    &-header {
      &:before {
        display: none;
      }
    }
  }
}

.contacts {
  text-align: right;

  &-item {
    margin-top: 11px;

    color: #fff;

    font-size: 12px;
    font-weight: 700;
  }

  a {
    margin-bottom: 0;

    color: #fff;

    font-size: 12px;
    font-weight: 700;
  }

  span {
    margin-left: 30px;
  }

  img {
    margin-right: 10px;
  }

  @include breakpoint(medium down) {
    text-align: left;
    margin: 10px 0;

    span {
      margin-right: 30px;
      margin-left: 0;
    }
  }

  @include breakpoint(small only) {
    margin-top: 0;

    span {
      display: block;
      margin-top: 10px;
    }
  }
}

.nav-menu {
  position: relative;

  &:before {
    position: absolute;
    top: 100%;
    left: 0;

    width: 0;
    height: 0;

    content: "";

    border-top: 15px solid #102249;
    border-left: 15px solid transparent;
  }

  &:after {
    position: absolute;
    top: 100%;
    right: 0;

    width: 0;
    height: 0;

    content: "";

    border-top: 15px solid #102249;
    border-right: 15px solid transparent;
  }

  &-list {
    @extend .clearfix;

    position: relative;

    margin: 0;
  }

  &-item {
    float: left;

    width: 12.5%;

    list-style: none;

    &:not(:last-child) {
      border-right: 1px solid #4a6cad;
    }
  }

  &-link {
    display: block;

    width: 100%;
    padding: 18px 0;

    text-align: center;

    color: #fff;
    background: linear-gradient(to bottom, #324f8c 0%,#1d3261 100%);

    font-size: 14px;

    &:hover,
    &:focus,
    .active & {
      color: #fff;
      background: #57a5e6;
    }
  }

  @include breakpoint (medium down) {
    &-link {
      font-size: 12px;
    }
  }

  @media (max-width: 705px) and (min-width: 640px) {
    &-link {
      font-size: 10px;
    }
  }

  @include breakpoint (small only) {
    &-item {
      float: none;
      width: 100%;
    }

    &:before,
    &:after {
      display: none;
    }
  }
}

.dropdown {
  &-icon {
    display: inline-block;

    width: 13px;
    height: 13px;
    margin-bottom: -2px;
    margin-left: 3px;

    background-image: url("/images/icons/dropdown.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &.open .nav-menu-link {
    background: #57a5e6;
  }

  &:hover {
    .dropdown-icon {
      background-position: 0 -13px;
    }
  }

  @include breakpoint(small only) {
    &-icon {
      display: none;
    }
  }
}

.nav-menu-dropdown {
  @extend .clearfix;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;

  display: none;

  width: 100%;
  margin: 0;

  &-item {
    position: relative;

    float: left;

    width: 12.5%;

    list-style: none;

    &:not(:last-child):after {
      position: absolute;
      top: 50%;
      right: 0;

      width: 1px;
      height: 50%;

      content: "";
      transform: translateY(-50%);

      background: #5eb1f6;
    }
  }

  &-link {
    display: flex;

    width: 100%;
    height: 70px;

    text-align: center;

    color: #fff;
    background: #57a5e6;

    font-size: 12px;

    align-items: center;
    justify-content: center;

    &:hover {
      color: #fff;
    }

    span {
      line-height: 1;
    }
  }

  @include breakpoint(medium down) {
    &-link {
      font-size: 10px;
      line-height: 1.1;
    }
  }
}

.menu-icon {

  &-wrap {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, #324f8c 0%,#1d3261 100%);
  }

  &.dark {
    padding: 20px 0;
    display: block;
    width: 100%;

    &:after {
      width: 20px;
      margin: 10px auto 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }
  }
}
