$work-title-color: #34518b;
$feedback-title-color: #0089ce;

.slick-slider {
  margin-bottom: 18px;
}

.why {
  .content-title {
    margin-bottom: 0;
  }

  &-list {
    @extend .clearfix;

    padding: 35px 0;

    background-image: url("/images/pattern.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &-item {
    text-align: center;

    color: #222121;

    font-size: 14px;

    &:nth-child(3) img {
      margin-bottom: 26px;
    }
  }

  img {
    display: block;

    margin: 0 auto;
    margin-bottom: 15px;
  }

  @include breakpoint(small only) {
    &-list {
      padding: 20px 0;
    }

    img {
      margin-bottom: 10px;
    }

    &-item {
      margin-bottom: 25px;

      &:nth-child(3) img {
        margin-bottom: 10px;
      }
    }
  }
}

.work {
  margin-bottom: 10px;

  .content-title {
    margin-bottom: 35px;
  }

  &-list--last &-item {
    margin-bottom: 15px;
  }

  &-item {
    margin-bottom: 35px;

    text-align: center;

    color: $work-title-color;

    font-size: 14px;
    font-weight: bold;
  }

  &-item--project {
    text-align: left;

    .work-item-name {
      font-weight: normal;
      color: #000;
      line-height: 1.2;
    }

    img {
      max-height: none !important;
    }

    a {
      display: block;
      margin-top: 3px;
      text-decoration: underline;
    }
  }

  &-all {
    display: inline-block;

    transform: translateY(-15px);
    text-decoration: underline;

    font-size: 12px;
  }

  img {
    display: block;

    max-height: 160px;
    margin: 0 auto 10px;

    border-radius: 3px;
  }

  @include breakpoint(medium down) {
    &-list--last &-item {
      margin-bottom: 45px;
    }
  }
}

.feedback {
  .content-title {
    margin-bottom: 0;
  }

  &-content {
    padding: 20px 30px 15px 15px;

    background-image: url("/images/pattern.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    font-size: 14px;
  }

  &-title {
    color: $feedback-title-color;

    font-weight: bold;
  }

  &-text {
    font-style: italic;
  }

  &-who {
    text-align: right;
  }

  &-more {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: #4a8bdc;
    text-decoration: underline;
  }
}

.map {
  .content-title {
    margin-bottom: 0;
  }

  &-content {
    padding-top: 25px;
  }
}
