.update {
  position: relative;

  display: block;
  overflow: hidden;

  margin-bottom: 30px;

  border-radius: 3px;

  &-title {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px 0;

    text-align: center;

    color: #fff;
    background: rgba(#2a4479, .8);

    font-size: 14px;
    font-weight: bold;
  }
}

.service-description {
  padding: 20px 40px;

  text-align: center;

  border: 2px solid #3f61a2;
  border-radius: 3px;
  font-weight: 600;
  font-style: italic;
  color: #626262;
  font-size: 14px;
}
