doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Gulp Project Template
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="vendors/fancybox/source/jquery.fancybox.css")
    link(rel="stylesheet", href="styles/app.css")
    base(href="/")
  body
    include nav
    block content
    include footer
    include scripts
