extends base

block content
  .row
    .column
      .carousel
        - each val in [1,2,3]
          .carousel-item
            img(src="/images/slider.jpg", alt="")
      .menu.services
        ul.menu-list
          li.menu-item
            a.menu-link
              img(src="/images/menu/1.png")
              .menu-item-name Проектирование
          li.menu-item.menu-item--active
            a.menu-link
              img(src="/images/menu/2.png")
              .menu-item-name Строительство
          li.menu-item
            a.menu-link
              img(src="/images/menu/3.png")
              .menu-item-name Обследование
          li.menu-item
            a.menu-link
              img(src="/images/menu/4.png")
              .menu-item-name Реконструкция
          li.menu-item
            a.menu-link
              img(src="/images/menu/5.png")
              .menu-item-name Перевод земельных участков
          li.menu-item
            a.menu-link
              img(src="/images/menu/6.png")
              .menu-item-name Проектирование и стротельство коттеджей
          li.menu-item
            a.menu-link
              img(src="/images/menu/7.png")
              .menu-item-name Перепланировки и входные группы
          li.menu-item
            a.menu-link
              img(src="/images/menu/8.png")
              .menu-item-name Согласование и разрешительная документация
      .why.content
        .content-title Почему мы?
        .why-list
          .why-item.medium-3.column
            img(src="/images/why/1.png", alt="")
            | 10 лет успешной работы
          .why-item.medium-3.column
            img(src="/images/why/2.png", alt="")
            | 50 выполненных объектов
          .why-item.medium-3.column
            img(src="/images/why/3.png", alt="")
            | 8 лет стаж наших экспертов
          .why-item.medium-3.column
            img(src="/images/why/4.png", alt="")
            | 100 специалистов высокого класса
      .work.content
        .content-title Наши работы
        .work-list.row
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Согласование и разрешительная документация
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Строительство
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Проектирование и строительство коттеджей
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Проектирование производственных зданий
        .work-list.work-list--last.row
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Обследование зданий
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Перепланировки и входные группы
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Согласование и разрешительная документация
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            .work-item-image
              img(src="/images/icons/pdf.png", alt="")
            .work-item-name Скачать презентацию
        .row
          .column.text-right
            a.work-all(href="") Посмотреть все работы →
      .row
        .feedback.large-6.column
          .content
            .content-title Отзывы
            .feedback-content
              .feedback-title
                | ГАУЗ “Республиканский клинический
                br
                | противотурберкулезный диспансер”
              .feedback-text За время сотрудничества ООО «РПС-Групп» подтвердило свой высокий профессиональный статус, компетентность и активность в решении поставленных задач....
              .feedback-who Л.Р. Ахмадуллин
              a.feedback-more(href="") Подробнее о наших преимуществах →
        .map.large-6.column
          .content
            .content-title
              img(src="/images/icons/place.png", alt="")
              | Месторасположение
            .map-content
              script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=A4KsJgMm0KG-MID2E56pJelrGAE_GN1J&width=100%&height=175&lang=ru_RU&sourceType=constructor')
