.nav
  .nav-header
    .row
      a.nav-logo.small-6.medium-3.large-2.column(href="/")
        img(src="/images/logo.png", alt="")
      .nav-about.medium-9.large-4.large-offset-1.column
        | Реконструкция. Проектирование. Строительство.
      .nav-contacts.contacts.large-5.column
        .contacts-item
          span
            img(src="/images/icons/mail.png", alt="")
            a(href="mailto:rps-group@yandex.ru") rps-group@yandex.ru
          span
            img(src="/images/icons/phone.png", alt="")
            | +7 (843) 214-14-40
        .contacts-item
          a.button.radius Заказать звонок
  .row
    .nav-menu
      span.menu-icon-wrap(data-responsive-toggle='responsive-menu', data-hide-for='medium')
        span.menu-icon.dark(data-toggle='')
      ul.nav-menu-list#responsive-menu
        li.nav-menu-item
          a.nav-menu-link(href="/") Главная
        li.nav-menu-item.dropdown.active
          a.nav-menu-link(href="about.html")
            | О компании
            .dropdown-icon
          ul.nav-menu-dropdown
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Проектирование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Строительство
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Обследование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Реконструкция
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перевод земельных
                br
                | участков 1
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Проектирование
                br
                | и стротельство 1
                br
                | коттеджей
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перепланировки
                br
                | и входные группы
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Согласование
                br
                | и разрешительная
                br
                | документация
        li.nav-menu-item.dropdown
          a.nav-menu-link.service
            | Услуги
            .dropdown-icon
          ul.nav-menu-dropdown
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Проектирование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Строительство
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Обследование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Реконструкция
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перевод земельных
                br
                | участков
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Проектирование
                br
                | и стротельство
                br
                | коттеджей
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перепланировки
                br
                | и входные группы
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Согласование
                br
                | и разрешительная
                br
                | документация
        li.nav-menu-item
          a.nav-menu-link Цены
        li.nav-menu-item
          a.nav-menu-link(href="/work.html") Наши работы
        li.nav-menu-item
          a.nav-menu-link Новости
        li.nav-menu-item
          a.nav-menu-link Наши клиенты
        li.nav-menu-item
          a.nav-menu-link Контакты
