extends base

block content
  .row
    .column
      .carousel
        - each val in [1,2,3]
          .carousel-item
            img(src="/images/slider.jpg", alt="")
      .menu.services
        ul.menu-list
          li.menu-item
            a.menu-link
              img(src="/images/menu/1.png")
              .menu-item-name Проектирование
          li.menu-item.menu-item--active
            a.menu-link
              img(src="/images/menu/2.png")
              .menu-item-name Строительство
          li.menu-item
            a.menu-link
              img(src="/images/menu/3.png")
              .menu-item-name Обследование
          li.menu-item
            a.menu-link
              img(src="/images/menu/4.png")
              .menu-item-name Реконструкция
          li.menu-item
            a.menu-link
              img(src="/images/menu/5.png")
              .menu-item-name Перевод земельных участков
          li.menu-item
            a.menu-link
              img(src="/images/menu/6.png")
              .menu-item-name Проектирование и стротельство коттеджей
          li.menu-item
            a.menu-link
              img(src="/images/menu/7.png")
              .menu-item-name Перепланировки и входные группы
          li.menu-item
            a.menu-link
              img(src="/images/menu/8.png")
              .menu-item-name Согласование и разрешительная документация
      .breadcrumbs
        li
          a Главная
        li
          a Наши работы
        li Проект внутрицеховой этажерки
      .content
        .content-title Проект внутрицеховой этажерки
        h4 Идейные соображения высшего порядка
        p А также реализация намеченных плановых заданий играет важную роль в формировании систем массового участия. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
        h6 Заголовок 2
        p С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.
        p С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.
        p.info
          span Стоимость работ: 5 000 000 рублей
          br
          span Сроки: 4 месяца
        h6 Фото объекта
        .row.gallery
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
        .why.content
          .content-title Почему мы?
          .why-list
            .why-item.medium-3.column
              img(src="/images/why/1.png", alt="")
              | 10 лет успешной работы
            .why-item.medium-3.column
              img(src="/images/why/2.png", alt="")
              | 50 выполненных объектов
            .why-item.medium-3.column
              img(src="/images/why/3.png", alt="")
              | 8 лет стаж наших экспертов
            .why-item.medium-3.column
              img(src="/images/why/4.png", alt="")
              | 100 специалистов высокого класса
