script(src="vendors/jquery/dist/jquery.min.js")
script(src="vendors/slick-carousel/slick/slick.min.js")
script(src="vendors/foundation-sites/dist/foundation.min.js")
script(src="vendors/fancybox/source/jquery.fancybox.pack.js")
script(src="scripts/app.js")
