extends base

block content
  .row
    .column
      .carousel
        - each val in [1,2,3]
          .carousel-item
            img(src="/images/slider.jpg", alt="")
      .menu.services
        ul.menu-list
          li.menu-item
            a.menu-link
              img(src="/images/menu/1.png")
              .menu-item-name Проектирование
          li.menu-item.menu-item--active
            a.menu-link
              img(src="/images/menu/2.png")
              .menu-item-name Строительство
          li.menu-item
            a.menu-link
              img(src="/images/menu/3.png")
              .menu-item-name Обследование
      .breadcrumbs
        li
          a Главная
        li
          a Услуги
        li Реконструкция
      .content
        .content-title Реконструкция
        .content-body.row
          .medium-8.column
            h5 Компания «РПС-групп» предоставляет услуги по реконструкции зданий и сооружений в полном объеме
            p Объем и полнота работ по реконструкции напрямую связана с заданием по обследованию здания и проектированию. Обращаясь в нашу организацию мы точно определим задачи предстоящего проектирования и сами составим техническое задание на основании ваших пожеланий.
            p В реконструкцию входят различные виды работ проектно-сметного плана. Их выполнение необходимо, чтобы четко прописать изменения технико-экономического и объемно-планировочного характера.
            p
              strong Сотрудники нашей компании выполняют разработку проектов по реконструкции производственных зданий и других видов построек:
            ul
              li при необходимости надстроить дополнительные этажи, мансарду;
              li в случаях, когда пристраиваются новые части к зданию;
              li в ситуации, когда нагрузки на строение возрастают;
              li при необходимости изменить функциональное назначение здания.
            p.service-description Все проектные работы, связанные с реконструкцией зданий, проводятся на основании имеющегося у нашей компании допуска СРО. И полностью отвечают условиям, прописанным в действующих нормативах.
            p
              strong Будьте уверены: Ваши мечты реальны. Просто расскажите нам о них и назначьте дату воплощения.
          .medium-4.column
            a.update.fancybox(href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
              .update-title Коттедж до
              img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
            a.update.fancybox(href="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg")
              .update-title Коттедж после
              img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
      .why.content
        .content-title Почему мы?
        .why-list
          .why-item.medium-3.column
            img(src="/images/why/1.png", alt="")
            | 10 лет успешной работы
          .why-item.medium-3.column
            img(src="/images/why/2.png", alt="")
            | 50 выполненных объектов
          .why-item.medium-3.column
            img(src="/images/why/3.png", alt="")
            | 8 лет стаж наших экспертов
          .why-item.medium-3.column
            img(src="/images/why/4.png", alt="")
            | 100 специалистов высокого класса

      .work.content
        .content-title Наши объекты
        .work-list.row
          .work-item.work-item--project.medium-4.column.end
            img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
            .work-item-name
              | Согласование и разрешительная документация
              a(href="") Подробнее
          .work-item.work-item--project.medium-4.column.end
            img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
            .work-item-name
              | Строительство
              a(href="") Подробнее
          .work-item.work-item--project.medium-4.column.end
            img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
            .work-item-name
              | Проектирование и строительство коттеджей
              a(href="") Подробнее
